#### 1. Import pandas library

In [5]:
import pandas as pd

#### 2. Import users table:

In [6]:
weather = pd.read_csv('weather-raw.csv')
display(weather)

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 3. Rename Id column to userId

In [7]:
print(weather.columns)

Index(['id', 'year', 'month', 'element', 'd1', 'd2', 'd3', 'd4', 'd5', 'd6',
       'd7', 'd8', 'd9', 'd10', 'd11', 'd12', 'd13', 'd14', 'd15', 'd16',
       'd17', 'd18', 'd19', 'd20', 'd21', 'd22', 'd23', 'd24', 'd25', 'd26',
       'd27', 'd28', 'd29', 'd30', 'd31'],
      dtype='object')

In [8]:
weather.rename(columns={'id': 'userId'}, inplace=True)
print(weather.columns)

Index(['userId', 'year', 'month', 'element', 'd1', 'd2', 'd3', 'd4', 'd5',
       'd6', 'd7', 'd8', 'd9', 'd10', 'd11', 'd12', 'd13', 'd14', 'd15', 'd16',
       'd17', 'd18', 'd19', 'd20', 'd21', 'd22', 'd23', 'd24', 'd25', 'd26',
       'd27', 'd28', 'd29', 'd30', 'd31'],
      dtype='object')

#### 4. Import posts table:

In [9]:
posts = pd.read_csv('posts_table.csv')
print(posts.head())

   Id  PostTypeId  AcceptedAnswerId          CreaionDate  Score  ViewCount  \
0   1           1              15.0  2010-07-19 19:12:12     23     1278.0
1   2           1              59.0  2010-07-19 19:12:57     22     8198.0
2   3           1               5.0  2010-07-19 19:13:28     54     3613.0
3   4           1             135.0  2010-07-19 19:13:31     13     5224.0
4   5           2               NaN  2010-07-19 19:14:43     81        NaN

                                                Body  OwnerUserId  \
0  <p>How should I elicit prior distributions fro...          8.0
1  <p>In many different statistical methods there...         24.0
2  <p>What are some valuable Statistical Analysis...         18.0
3  <p>I have two groups of data.  Each with a dif...         23.0
4  <p>The R-project</p>\n\n<p><a href="http://www...         23.0

       LasActivityDate                                              Title  \
0  2010-09-15 21:08:26                      Eliciting priors from experts
1  2012-11-12 09:21:54                                 What is normality?
2  2013-05-27 14:48:36  What are some valuable Statistical Analysis op...
3  2010-09-08 03:00:19  Assessing the significance of differences in d...
4  2010-07-19 19:21:15                                                NaN

   ... AnswerCount  CommentCount  FavoriteCount  LastEditorUserId  \
0  ...         5.0             1           14.0               NaN
1  ...         7.0             1            8.0              88.0
2  ...        19.0             4           36.0             183.0
3  ...         5.0             2            2.0               NaN
4  ...         NaN             3            NaN              23.0

          LastEditDate   CommunityOwnedDate ParentId  ClosedDate  \
0                  NaN                  NaN      NaN         NaN
1  2010-08-07 17:56:44                  NaN      NaN         NaN
2  2011-02-12 05:50:03  2010-07-19 19:13:28      NaN         NaN
3                  NaN                  NaN      NaN         NaN
4  2010-07-19 19:21:15  2010-07-19 19:14:43      3.0         NaN

  OwnerDisplayName LastEditorDisplayName
0              NaN                   NaN
1              NaN                   NaN
2              NaN                   NaN
3              NaN                   NaN
4              NaN                   NaN

[5 rows x 21 columns]

In [10]:
users = pd.read_csv('users_table.csv')
print(users.head())

   Id  Reputation         CreationDate   DisplayName       LastAccessDate  \
0  -1           1  2010-07-19 06:55:26     Community  2010-07-19 06:55:26
1   2         101  2010-07-19 14:01:36  Geoff Dalgas  2013-11-12 22:07:23
2   3         101  2010-07-19 15:34:50  Jarrod Dixon  2014-08-08 06:42:58
3   4         101  2010-07-19 19:03:27        Emmett  2014-01-02 09:31:02
4   5        6792  2010-07-19 19:03:57         Shane  2014-08-13 00:23:47

                       WebsiteUrl            Location  \
0  http://meta.stackexchange.com/  on the server farm
1        http://stackoverflow.com       Corvallis, OR
2        http://stackoverflow.com        New York, NY
3    http://minesweeperonline.com   San Francisco, CA
4         http://www.statalgo.com        New York, NY

                                             AboutMe  Views  UpVotes  \
0  <p>Hi, I'm not really a person.</p>\r\n\r\n<p>...      0     5007
1  <p>Developer on the StackOverflow team.  Find ...     25        3
2  <p><a href="http://blog.stackoverflow.com/2009...     22       19
3  <p>currently at a startup in SF</p>\r\n\r\n<p>...     11        0
4  <p>Quantitative researcher focusing on statist...   1145      662

   DownVotes  AccountId   Age                     ProfileImageUrl
0       1920         -1   NaN                                 NaN
1          0          2  37.0                                 NaN
2          0          3  35.0                                 NaN
3          0       1998  28.0  http://i.stack.imgur.com/d1oHX.jpg
4          5      54503  35.0                                 NaN

#### 5. Rename Id column to postId and OwnerUserId to userId

In [11]:
print(posts.columns)

Index(['Id', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'OwnerUserId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

In [12]:
posts.rename(columns={'Id': 'postId', 'OwnerUserId': 'userId'}, inplace=True)
print(posts.head())

   postId  PostTypeId  AcceptedAnswerId          CreaionDate  Score  \
0       1           1              15.0  2010-07-19 19:12:12     23
1       2           1              59.0  2010-07-19 19:12:57     22
2       3           1               5.0  2010-07-19 19:13:28     54
3       4           1             135.0  2010-07-19 19:13:31     13
4       5           2               NaN  2010-07-19 19:14:43     81

   ViewCount                                               Body  userId  \
0     1278.0  <p>How should I elicit prior distributions fro...     8.0
1     8198.0  <p>In many different statistical methods there...    24.0
2     3613.0  <p>What are some valuable Statistical Analysis...    18.0
3     5224.0  <p>I have two groups of data.  Each with a dif...    23.0
4        NaN  <p>The R-project</p>\n\n<p><a href="http://www...    23.0

       LasActivityDate                                              Title  \
0  2010-09-15 21:08:26                      Eliciting priors from experts
1  2012-11-12 09:21:54                                 What is normality?
2  2013-05-27 14:48:36  What are some valuable Statistical Analysis op...
3  2010-09-08 03:00:19  Assessing the significance of differences in d...
4  2010-07-19 19:21:15                                                NaN

   ... AnswerCount  CommentCount  FavoriteCount  LastEditorUserId  \
0  ...         5.0             1           14.0               NaN
1  ...         7.0             1            8.0              88.0
2  ...        19.0             4           36.0             183.0
3  ...         5.0             2            2.0               NaN
4  ...         NaN             3            NaN              23.0

          LastEditDate   CommunityOwnedDate ParentId  ClosedDate  \
0                  NaN                  NaN      NaN         NaN
1  2010-08-07 17:56:44                  NaN      NaN         NaN
2  2011-02-12 05:50:03  2010-07-19 19:13:28      NaN         NaN
3                  NaN                  NaN      NaN         NaN
4  2010-07-19 19:21:15  2010-07-19 19:14:43      3.0         NaN

  OwnerDisplayName LastEditorDisplayName
0              NaN                   NaN
1              NaN                   NaN
2              NaN                   NaN
3              NaN                   NaN
4              NaN                   NaN

[5 rows x 21 columns]

In [13]:
users.rename(columns={'Id': 'userId'}, inplace=True)
print(users.head())

   userId  Reputation         CreationDate   DisplayName       LastAccessDate  \
0      -1           1  2010-07-19 06:55:26     Community  2010-07-19 06:55:26
1       2         101  2010-07-19 14:01:36  Geoff Dalgas  2013-11-12 22:07:23
2       3         101  2010-07-19 15:34:50  Jarrod Dixon  2014-08-08 06:42:58
3       4         101  2010-07-19 19:03:27        Emmett  2014-01-02 09:31:02
4       5        6792  2010-07-19 19:03:57         Shane  2014-08-13 00:23:47

                       WebsiteUrl            Location  \
0  http://meta.stackexchange.com/  on the server farm
1        http://stackoverflow.com       Corvallis, OR
2        http://stackoverflow.com        New York, NY
3    http://minesweeperonline.com   San Francisco, CA
4         http://www.statalgo.com        New York, NY

                                             AboutMe  Views  UpVotes  \
0  <p>Hi, I'm not really a person.</p>\r\n\r\n<p>...      0     5007
1  <p>Developer on the StackOverflow team.  Find ...     25        3
2  <p><a href="http://blog.stackoverflow.com/2009...     22       19
3  <p>currently at a startup in SF</p>\r\n\r\n<p>...     11        0
4  <p>Quantitative researcher focusing on statist...   1145      662

   DownVotes  AccountId   Age                     ProfileImageUrl
0       1920         -1   NaN                                 NaN
1          0          2  37.0                                 NaN
2          0          3  35.0                                 NaN
3          0       1998  28.0  http://i.stack.imgur.com/d1oHX.jpg
4          5      54503  35.0                                 NaN

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [14]:
posts_selected = posts[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]
print(posts_selected.head())

   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

In [15]:
users_selected = users[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
print(users_selected.head())

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [16]:
merged_df = pd.merge(posts_selected, users_selected, on='userId', how='inner')
print(merged_df.head())

   postId  Score  userId  ViewCount  CommentCount  Reputation  Views  UpVotes  \
0       1     23     8.0     1278.0             1        6764   1089      604
1       2     22    24.0     8198.0             1         344     48       36
2       3     54    18.0     3613.0             4         128      8       16
3       4     13    23.0     5224.0             2         308     52       34
4       5     81    23.0        NaN             3         308     52       34

   DownVotes
0         25
1          1
2          0
3          1
4          1

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [17]:
missing_values = merged_df.isnull().sum()
print(missing_values[missing_values > 0])

ViewCount    23572
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [18]:
merged_df_cleaned = merged_df.dropna()
missing_values_after = merged_df.isnull().sum()
print(missing_values_after[missing_values_after > 0])

ViewCount    23572
dtype: int64

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [19]:
print(merged_df.columns)

Index(['postId', 'Score', 'userId', 'ViewCount', 'CommentCount', 'Reputation',
       'Views', 'UpVotes', 'DownVotes'],
      dtype='object')

In [20]:
# Check column names to see what is available
print(merged_df.columns)

# Adjust data types
merged_df['userId'] = merged_df['userId'].astype('int64')
merged_df['postId'] = merged_df['postId'].astype('int64')
merged_df['Reputation'] = merged_df['Reputation'].astype('int64')
merged_df['Score'] = merged_df['Score'].astype('int64')
merged_df['UpVotes'] = merged_df['UpVotes'].astype('int64')
merged_df['DownVotes'] = merged_df['DownVotes'].astype('int64')

# Adjust datetime conversion if the column exists
if 'DateColumn' in merged_df.columns:  # Replace with actual date column name if necessary
    merged_df['DateColumn'] = pd.to_datetime(merged_df['DateColumn'])

# Adjust categorical columns if they exist
if 'ColumnWithCategories' in merged_df.columns:  # Replace with actual categorical column name if necessary
    merged_df['ColumnWithCategories'] = merged_df['ColumnWithCategories'].astype('category')

# Check data types after conversion
print(merged_df.dtypes)

Index(['postId', 'Score', 'userId', 'ViewCount', 'CommentCount', 'Reputation',
       'Views', 'UpVotes', 'DownVotes'],
      dtype='object')
postId            int64
Score             int64
userId            int64
ViewCount       float64
CommentCount      int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
dtype: object